/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";


.nav li {display: inline-block;}

header {
    background-color: darkslategray;
}

header img {
    max-height: 200px;
}

header a {
    color: lime;
    font-size: 5em;
    padding: 0 2em;
    font-family:Arial, Helvetica, sans-serif;
}

header a:hover {
    color: lime;
}

table img {
    max-height: 150px;
}

.field {
    margin: 1em;
}

.field label {
    min-width: 100px;
    text-justify: center;
    vertical-align: top;
}

.field input, textarea {
    min-width: 200px;
}

.actions input {
    background-color: lime;
    font-weight: bold;
    padding: 1em;
}